@model MVCMonitoring.Models.Measurement
@{
    ViewData["Title"] = "Create Measurement";
}
<!DOCTYPE html>
<html>
<head>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.3.1/dist/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
</head>
<body>
    <div class="container" style="max-width: 600px;">
        <h1 class="text-center mt-5">Welcome to the Measurement Creation Page</h1>
        <p class="text-center">You are about to create a new measurement. Please enter the water level, timeout in minutes, date and time, and station ID below.</p>
        <hr />
        <form asp-action="CreateMeasurementAction" asp-controller="MeasurementOperation" method="post">
            <div class="form-group">
                <label for="StationId" class="control-label mt-3">Station ID</label>
                <input id="StationId" name="StationId" class="form-control" placeholder="Enter station ID" required />

                <label for="WaterLevel" class="control-label mt-3">Water Level</label>
                <input id="WaterLevel" name="WaterLevel" class="form-control" placeholder="Enter water level" required />
            </div>
            <button class="btn btn-primary mt-3" type="submit">Create Measurement</button>
        </form>
    </div>
</body>
</html>