<!DOCTYPE html>
<html lang="en">
<head>
    <title>@ViewData["Title"] - Stream Precision™</title>
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
    <link rel="stylesheet" href="~/css/_Layout.css" asp-append-version="true" />
</head>
<body>
    <header>
        <nav class="navbar navbar-expand-lg navbar-light bg-light">
            <div class="container-fluid">
                <a class="navbar-brand" asp-area="" asp-controller="Home" asp-action="Index">Stream Precision™</a>
                <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav" aria-controls="navbarNav"
                        aria-expanded="false" aria-label="Toggle navigation">
                    <span class="navbar-toggler-icon"></span>
                </button>
                <div class="collapse navbar-collapse" id="navbarNav">
                    <ul class="navbar-nav mr-auto">
                        <li class="nav-item">
                            <a class="nav-link" asp-area="" asp-controller="Home" asp-action="Index">Home</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" asp-area="" asp-controller="Home" asp-action="About">About</a>
                        </li>
                        <li class="nav-item dropdown">
                            <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-bs-toggle="dropdown" aria-expanded="false">
                                Operations
                            </a>
                            <ul class="dropdown-menu" aria-labelledby="navbarDropdown">
                                <li><h6 class="dropdown-header">Stations</h6></li>
                                <li><a class="dropdown-item" asp-area="" asp-controller="StationOperation" asp-action="CreateStation">Create Station</a></li>
                                <li><a class="dropdown-item" asp-area="" asp-controller="StationOperation" asp-action="UpdateStation">Update Station</a></li>
                                <li><a class="dropdown-item" asp-area="" asp-controller="StationOperation" asp-action="DeleteStation">Delete Station</a></li>
                                <li><hr class="dropdown-divider"></li>

                                <li><h6 class="dropdown-header">Measurements</h6></li>
                                <li><a class="dropdown-item" asp-area="" asp-controller="MeasurementOperation" asp-action="CreateMeasurement">Create Measurement</a></li>
                                <li><a class="dropdown-item" asp-area="" asp-controller="MeasurementOperation" asp-action="UpdateMeasurement">Update Measurement</a></li>
                                <li><a class="dropdown-item" asp-area="" asp-controller="MeasurementOperation" asp-action="DeleteMeasurement">Delete Measurement</a></li>                               
                            </ul>
                        </li>
                        <li class="nav-item dropdown">
                            <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-bs-toggle="dropdown" aria-expanded="false">
                                Resources
                            </a>
                            <ul class="dropdown-menu" aria-labelledby="navbarDropdown">
                                <li><h6 class="dropdown-header">Station Management</h6></li>
                                <li><a class="dropdown-item" asp-area="" asp-controller="StationList" asp-action="List">Station Directory</a>
                                <li><hr class="dropdown-divider"></li>

                                <li><h6 class="dropdown-header">Expert Installations</h6></li>
                                <li><a class="dropdown-item" asp-area="" asp-controller="StationGallery" asp-action="Gallery">Installation Showcase</a>
                                <li><hr class="dropdown-divider"></li>

                                <li><h6 class="dropdown-header">Data Visualization</h6></li>
                                <li><a class="dropdown-item" asp-area="" asp-controller="StationGraph" asp-action="Graph">Interactive Graphs</a></li>
                            </ul>
                    </ul>
                    <partial name="_LoginPartial" />
                </div>
            </div>
        </nav>
    </header>
    <div class="container">
        <main role="main" class="pb-3">
            @RenderBody()
        </main>
    </div>
    <footer class="footer">
        <div class="container">
            <span>© <span id="currentYear"></span> Stream Precision™. All rights reserved.</span>
        </div>
    </footer>
    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
    <script src="~/js/_Layout.js" asp-append-version="true"></script>
    @await RenderSectionAsync("Scripts", required: false)
</body>
</html>