@model MVCMonitoring.Models.Station

@{
    ViewData["Title"] = "Create";
}

<h1>Stations - Create</h1>
<hr />
<form id="createForm" method="post">

    <div class="form-group">

        <label asp-for="Title" class="control-label"></label>
        <input asp-for="Title" class="form-control" />
        <span asp-validation-for="Title" class="text-danger"></span>

        <label asp-for="FloodLevel" class="control-label"></label>
        <input asp-for="FloodLevel" class="form-control" />
        <span asp-validation-for="FloodLevel" class="text-danger"></span>

        <label asp-for="DroughtLevel" class="control-label"></label>
        <input asp-for="DroughtLevel" class="form-control" />
        <span asp-validation-for="DroughtLevel" class="text-danger"></span>

        <label asp-for="TimeOutInMinutes" class="control-label"></label>
        <input asp-for="TimeOutInMinutes" class="form-control" />
        <span asp-validation-for="TimeOutInMinutes" class="text-danger"></span>

    </div>

    <button class="btn btn-primary mt-3" type="submit">Send</button>

</form>
