/*body {
    background: #f4f4f4;
}

.jumbotron {
    background: #333;
    color: #fff;
}

.carousel-item img {
    height: 400px;
    object-fit: cover;
}

.carousel-inner {
    border-radius: 0.4rem;
}

.btn {
    margin-top: 25px;
}
*/