@model MVCMonitoring.Models.MonitoringStation
@{
    ViewData["Title"] = "Create";
}

<h1>Stations - Create</h1>
<hr />
<form method="post" id="stationForm">
    <div class="form-group">
        <label for="Title" class="control-label">Title</label>
        <input id="Title" name="Title" class="form-control" />
        <span class="text-danger"></span>

        <label for="FloodLevel" class="control-label">Flood Level</label>
        <input id="FloodLevel" name="FloodLevel" class="form-control" />
        <span class="text-danger"></span>

        <label for="DroughtLevel" class="control-label">Drought Level</label>
        <input id="DroughtLevel" name="DroughtLevel" class="form-control" />
        <span class="text-danger"></span>

        <label for="TimeOutInMinutes" class="control-label">Timeout (Minutes)</label>
        <input id="TimeOutInMinutes" name="TimeOutInMinutes" class="form-control" />
        <span class="text-danger"></span>
    </div>

    <button class="btn btn-primary mt-3" type="submit">Send</button>
</form>

@section Scripts {
    <script>
        document.getElementById("stationForm").addEventListener("submit", function (event) {
            event.preventDefault();
            var formData = {
                Title: document.getElementById("Title").value,
                FloodLevel: document.getElementById("FloodLevel").value,
                DroughtLevel: document.getElementById("DroughtLevel").value,
                TimeOutInMinutes: document.getElementById("TimeOutInMinutes").value
            };
            fetch('/api/add-stations', {
                method: 'POST',
                headers: {
                    'Content-Type': 'application/json'
                },
                body: JSON.stringify(formData)
            })
                .then(response => {
                    if (!response.ok) {
                        throw new Error('Network response was not ok');
                    }
                    return response.json();
                })
                .then(data => {
                    console.log('Success:', data);
                })
                .catch(error => {
                    console.error('Error:', error);
                });
        });
    </script>
}
